.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #1e1e2f, #2c2c54);
  padding: 30px;
  border-radius: 10px;
  color: white;
  height: 220px;
}


.logo {
  font-size: 45px;
  margin: 0;
}


.nav-links {
  display: flex;
  gap: 10px;
}

.nav-links button {
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: white;
  color: black;
  transition: 0.3s;
}


.nav-links button:hover {
  background: #ff4d4d;
  color: white;
  transform: translateY(-2px);
}


@media(max-width:600px){

  .navbar{
    height:200px;
  }

  .logo{
    font-size:32px;
  }

}